!---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>MaryMations' Portfolio Site Demo</title>
        <link rel="stylesheet" href="./styles/style.css">
    </head>
    <body>
        <header class="flex flex-row bg-color">
            <h1><a class="bg-color" href="/">MaryMations' Portfolio</a></h1>
            <nav class="bg-color">
                <ul class="bg-color">
                    <li><a href="/">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#work">Work</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <div id="about">
                <h2>About me</h2>
                <p>Hi, my name is Mary! I'm a first-year student majoring in Computer Science and minoring in Art. I'm a Nigerian-American Christian in a family of 6 and an even larger extended family of a dozen people (too many to count). Whenever I'm not studying my butt off, I like drawing, binge-watching anime & Spanish-dubbed shows, playing videogames/watching videogame walkthroughs, reading books, listening to musicals, and writing my own original stories. I can't wait to work on this project with you guys!!</p>
                <br>
                <p>In the near future, I'm gonna be opening some art and animation commissions to pay for college fees, so if your interested in an artpiece or an animation made by yours truly, feel free to contact me! :)  (plz I need the money I'm jobless because of the harsh job market....)</p>
            </div>

            <div id="work">
                <h2>My Work</h2>
                <p>Here is some of the artwork I did in the past:</p>
                <div class="image-container">
                    <img src="/images/An Archangel Allegory.png" alt="Archangel Allegory">
                    <img src="/images/Afternoon Poster REMAKE.png" alt="Afternoon Poster">
                    <img src="/images/Hamlet poster.png" alt="Hamlet Poster">
                    <img src="/images/Johnathan DTYIS.png" alt="Johnathan from the Bible">
                    <img src="/images/the days of spring.png" alt="The Days of Spring">
                    <img src="images/The Jumper w particles.png" alt="The Jumper">
                    <img src="images/The Kite Runner Book Cover.png" alt="The Kite Runner Book Cover">
                </div>
            </div>

            <div id="contact">
                <h2>Contact</h2>
                <p>Here are my socials so you can know where to find me (and stalk me):</p>

                <ul>
                    <li><a href="https://www.youtube.com/@marymations">YouTube</a></li>
                    <li><a href="https://www.goodreads.com/user/show/172693268-mary-imarenezor">Goodreads</a></li>
                    <li><a href="https://www.instagram.com/marymations/">Instagram(Art Account)</a></li>
                    <li><a href="https://www.instagram.com/mary.imarenezor/">Instagram(Personal Account)</a></li>
                    <li><a href="https://github.com/MaryImarenezor">Github</a></li>
                    <li><a href="https://www.linkedin.com/in/mary-o-imarenezor/">LinkedIn</a></li>
                </ul>
            </div>
        </main>

        <footer class="bg-color">
            <p class="bg-color">MaryMations 2025. Made with Astro.js</p>
        </footer>

        
    </body>
</html>